body {
  font-size: 100%;
}

h1{
  text-align:center;
}

.navbar{
  background-color: #ffffffbb;
  padding: 1% 0;
  font-size: 15px;
  height: 55px;
}

.navbar-brand{
  min-height: 40px;
  padding: 0 15px 5px;
}

.navbar a{
  color: #000000;
}

.icone{
  width: 40px;
  margin-left: 10px;
}

.nav-item{
  padding: 3px;
}

.container-fluid {
    padding: 0;
  }

.d-block{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.conteudo {
  margin: 5%;
  abackground-color: orange;
}

.conteudo-principal {
  margin-top: 90px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.conteudo-principal-escrito {
    color: black;
    margin-right: 20px;
    border: none;
    display: flex;
    flex-direction: column;
}

.conteudo-principal-escrito-titulo {
  font-size: 40px;
  color: black;
  text-align: center;
}

.conteudo-principal-escrito-subtitulo {
  margin: 40px ;
  text-align: justify;
}
 
.conteudo-principal-img {
  height: 300px;
  margin-right: 20px;

}
