html, body{
  margin: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
}

.navbar{
  background-color: #0a0a0a9a;
  padding: 1% 0;
  font-size: 15px;
  height: 55px;
}

.nav-{
  background-color: #0a0a0a9a;
}

.navbar-brand{
  min-height: 40px;
  padding: 0 15px 5px;
}

.navbar a{
  color: #ffff;
}

.icone{
  width: 40px;
  margin-left: 10px;
}

.nav-item{
  padding: 3px;
}

.dropdown-menu{
  background-color: #000000ac;
}

.dropdown-item{
  color: white;
}

.container-fluid {
    padding: 0;
  }

.d-block{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.carousel-item{
    background-size: cover;
    background-position: center;
}

.carousel-inner, .carousel-item {
  padding: 0%;
}

.mapa, .chuvisqueiro, .cascata, .rio, .sugestao, .sobre{
  min-height: 100vh;
  padding-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
}
.mapa, .cascata, .sobre, .sugestao h1{
  text-align: center;
}

.clearfix{
  padding: 10px;
}

p{
  font-size: 15px;
  text-align: justify;
}

@media(max-width: 700px){
  .clearfix{
    padding-top: 0px ;
  }
  .image{
    width: 90vw;
    align-items: center;
  }
}


.footer {
  padding: 5% 5% 10% 5%;
  width: 100vw;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1b6a19f #383838;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}


*::-webkit-scrollbar-track {
  background: #383838;
}

*::-webkit-scrollbar-thumb {
  background-color: #c1b6a19f;
  border-radius: 20px;
  border: 3px solid #383838;
}
