body{
	font-size:  19px;
    background: rgb(193,27,207);
    background: linear-gradient(90deg, rgba(193,27,207,1) 0%, rgba(217,147,213,1) 35%, rgba(28,163,190,1) 100%);

}
.btn {
	color:  white;
	padding: 10px;
	font-size: 15px;
	border-radius:  5px;
	text-decoration: none;
	border: none;
}
.edit_btn{
	background: #ff9500;
}
.del_btn{
	background: #ff6347;
}
.btn_primary{
	background: #5f9ea0;
}

table {
	border-collapse: collapse;
	width:  100%;	;
}


th, td {
	padding:  15px;
	text-align:  left;
	border-bottom:  1px solid #ddd;
}

tr:hover {
	background-color: #f5f5f5;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

form {
	width: 320px;
	margin:  50px auto;
	text-align: left;
	padding: 20px;
}

fieldset {
	border:  1px solid #bbb;
	border-radius: 5px;
}

/* texto */ 
.input-group{
	margin:  10px 0px 10px 0px;
}
.input-group label{
	text-align: left;
	margin:  3px;
	display: block;
}

.input-group input{
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size:  16px;
	border-radius: 5px;
	border:  1px solid #bbb;
}

.input-group select {
	height: 30px;
	width: 100%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius:  5px;
	border:  1px solid #bbb;
	background: white;
}

#conteudo{
	width: 80%;
	margin: 0 auto;
	transition: 0.3s;
}

h1 {
	margin-top: 10px;
	margin-bottom: 10px;
}
input:invalid {
    animation: shake 300ms;
}
@keyframes shake {
    25% { transform: translateX(4px) ; }
    50% { transform: translateX(-4px); }
    25% { transform: translateX(4px); }
}

@media (max-width: 999px){
	#conteudo {
		width: 94%;
		margin: 0 auto;
		transition: 0.3s;
	}

	.dados {
		overflow-x: auto;
	}

}