html, body{
  margin: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
}

.navbar{
  background-color: #ffffff9a;
  padding: 1% 0;
  font-size: 15px;
  height: 55px;
}

.nav-{
  background-color: #0a0a0a9a;
}

.navbar-brand{
  min-height: 40px;
  padding: 0 15px 5px;
}

.navbar a{
  color: rgb(0, 0, 0);
}

.icone{
  width: 40px;
  margin-left: 10px;
}

.nav-item{
  padding: 3px;
}

.dropdown-menu{
  background-color: #ffffffac;
}

.dropdown-item{
  color: white;
}

.container-fluid {
    padding: 0;
  }

.d-block{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.carousel-item{
    background-size: cover;
    background-position: center;
}

.carousel-inner, .carousel-item {
  padding: 0%;
}

.mapa{
  min-height: 80vh;
  padding-top: 70px;
  margin-left: 10px;
  margin-right: 10px;

}

.tres, .bier, .cfb, .casa, .andorinhas, .dvinicula, .fazendaz, .rolantche, .morro, .portico, .pousadam, 
.restaurantefb, .sucos, .vinhosesucose, .vinhosesucosd, .vinhosf, .viniculabennato, .viniculadallarosa, .viniculadom, 
.viniculamontemezzo, .viniculasbardelotto, .sobre, .sugestao{
  min-height: 100vh;
  padding-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
}

.clearfix{
  padding: 10px;
}

h1{
  margin: 0px;
  font-family:Arial, sans-serif;
  font-size: 35px;
  font-weight: bold ;
}

.text{
    margin-top: 0px;
}

p{
  font-size: 15px;
  text-align: justify;
}

@media(max-width: 700px){
  .clearfix{
    padding-top: 0px ;
  }
  .image{
    width: 90vw;
    padding-top: 120 px;
    align-items: center;
  }
}


.footer {
  padding: 5% 5% 10% 5%;
  width: 100vw;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1b6a19f #383838;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}


*::-webkit-scrollbar-track {
  background: #383838;
}

*::-webkit-scrollbar-thumb {
  background-color: #c1b6a19f;
  border-radius: 20px;
  border: 3px solid #383838;
}


.bloco{
  color: rgb(16, 44, 77);
  background-color: #b3b8b9;
  margin-left: 300px;
  margin-right: 300px;
  box-sizing: 20px;
}
.button{
  background-color: #ffffff;
  border: 1px solid #000000;
     border-radius: 3px;
     box-shadow: 0 2px 0 rgba(0, 0, 0, .3),
                   0 2px 5px rgba(0, 0, 0, 0.2);
     color: #000000;
     display: block;
     font-size: 14px;
     text-shadow:1px 1px 0 #FFF;
     padding:auto;
     width: 80px;
     height: 35px;
}
