html, body{
  margin: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #F1EFEF ;
}

.navbar{
  font-size: 18px;
}

.icone{
  width: 40px;
  margin-left: 10px;
}

.nav-item{
  padding: 3px;
}

.dropdown-menu{
  background-color: black;
}

.dropdown-item{
  color: white;
}

.botao{


}

.container-fluid {
    padding: 0;
  }

.d-block{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.carousel-item{
    background-size: cover;
    background-position: center;
}

.carousel-inner, .carousel-item {
  padding: 0%;
}

.carousel-indicators .active {
  background-color: #65DAF9;
}

.mapa, .chuvisqueiro, .cascata, .rio, .sugestao, .sobre{
  min-height: 100vh;
  padding-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
}

.clearfix{
  padding: 10px;
}

strong{
  font-size: 40px;
}

p{
  font-size: 15px;
  text-align: justify;
}

@media(max-width: 700px){
  .clearfix{
    padding-top: 0px ;
  }
  .image{
    width: 90vw;
    align-items: center;
  }
}